<h1>Leaders#show</h1>
<p>Find me in app/views/leaders/show.html.erb</p>

<%= link_to "新規登録", new_shift_calender_path, class: 'btn btn-primary' %>
<%= link_to "スタッフ登録", new_shift_calender_path, class: 'btn btn-primary' %>
<%= link_to "編集", new_shift_calender_path, class: 'btn btn-primary' %>
<%= link_to "過去リスト", shift_calenders_path, class: 'btn btn-primary' %>
