<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>

<%= render 'shared/flash_messages' %>
<a href="#" class="btn btn-primary">deviseを使ってログイン画面は設定できた<i class="fas fa-cat"></i></a>
<a href="#" class="btn btn-primary">次はログインできた後に表示させる画面を作る必要があるかな<i class="fas fa-cat"></i></a>
<a href="#" class="btn btn-primary">それができればログイン機能の動きと連動させる<i class="fas fa-cat"></i></a>
